:root {
  --pip-boy-primary-color: #18dc0c;
  --pip-boy-secondary-color: #11291b;
  --pip-boy-background-color: #10170f;
}

*,
*::after,
*::before {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

html, body {
  overflow: hidden;
}

body {
  background: var(--pip-boy-background-color);
  box-sizing: border-box;
}

#overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 1380px;
}

/** RESPONSIVE ********************************************************************************************************/
@media screen and (max-width: 1370px) {
  html {
    font-size: 56.25%;
  }
  #overlay {
    width: 1242px;
  }
  #header-line-before, #header-line-after {
    width: 458.1px;
  }
}
@media screen and (max-width: 1230px) {
  html {
    font-size: 50%;
  }
  #overlay {
    width: 1104px;
  }
  #header-line-before, #header-line-after {
    width: 407.2px;
  }
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 43.75%;
  }
  #overlay {
    width: 966px;
  }
  #header-line-before, #header-line-after {
    width: 356.3px;
  }
}
@media screen and (max-width: 960px) {
  html {
    font-size: 37.5%;
  }
  #overlay {
    width: 828px;
  }
  #header-line-before, #header-line-after {
    width: 305.4px;
  }
}
@media screen and (max-width: 820px) {
  html {
    font-size: 31.25%;
  }
  #overlay {
    width: 690px;
  }
  #header-line-before, #header-line-after {
    width: 254.5px;
  }
}
@media screen and (max-width: 690px) {
  html {
    font-size: 25%;
  }
  #overlay {
    width: 552px;
  }
  #header-line-before, #header-line-after {
    width: 203.6px;
  }
}
@media screen and (max-height: 740px) and (min-width: 960px) {
  html {
    font-size: 31.25%;
  }
  #overlay {
    width: 690px;
  }
  #header-line-before, #header-line-after {
    width: 254.5px;
  }
}
@media screen and (max-height: 500px), screen and (max-width: 340px) {
  .screen {
    display: none;
  }
}
@font-face {
  font-family: ShareTechMono;
  src: url("../../font/share_tech_mono/ShareTechMono-Regular.ttf");
}
@font-face {
  font-family: Monofonto;
  src: url("../../font/monofonto/monofonto.ttf");
}
header, p {
  font-family: "Monofonto", serif;
}

#perk-attribute-description-nerd_rage {
  font-size: 0.4rem;
}

p {
  color: var(--pip-boy-primary-color);
}

.health-gauge-container {
  margin-top: 2rem;
  height: 21rem;
  width: 37.8;
}

.health-gauge {
  border: 0.1rem solid var(--pip-boy-primary-color);
  background: var(--pip-boy-background-color);
  width: 3.8rem;
  height: 0.9rem;
  position: absolute;
}

.health-gauge-top,
.health-gauge-bottom {
  margin-left: 17rem;
  width: 3.8rem;
}

.health-gauge-top {
  top: 8rem;
}

.health-gauge-bottom {
  top: 25rem;
}

.health-gauge-left-top,
.health-gauge-left-bottom {
  margin-left: 5.65rem;
}

.health-gauge-left-top,
.health-gauge-right-top {
  top: 14rem;
}

.health-gauge-left-bottom,
.health-gauge-right-bottom {
  top: 20rem;
}

.health-gauge-right-top,
.health-gauge-right-bottom {
  margin-left: 30.2rem;
}

.health-gauge-top::before,
.health-gauge-right-top::before,
.health-gauge-left-bottom::before,
.health-gauge-right-bottom::before {
  content: "";
  border: 0.1rem solid var(--pip-boy-primary-color);
  background: var(--pip-boy-primary-color);
  width: 3.61rem;
  height: 0.7rem;
  position: absolute;
}

.health-gauge-left-top::before {
  content: "";
  border: 0.1rem solid var(--pip-boy-primary-color);
  background: var(--pip-boy-primary-color);
  width: 1.52rem;
  height: 0.7rem;
  position: absolute;
}

.health-gauge-bottom::before {
  content: "";
  border: 0.1rem solid var(--pip-boy-primary-color);
  background: var(--pip-boy-primary-color);
  width: 2.28rem;
  height: 0.7rem;
  position: absolute;
}

header {
  text-transform: uppercase;
  width: 37.8rem;
  position: relative;
}

.header {
  margin-left: 10rem;
  max-width: 37.8rem;
}

.tabs, .sub-tabs {
  display: flex;
  align-items: center;
}

.header {
  margin-top: 19rem;
}

.tabs li > a,
.sub-tabs li > a {
  font-size: 2.2rem;
  color: var(--pip-boy-primary-color);
}

.tabs li > a {
  margin-right: 4.1rem;
}

.sub-tabs {
  display: none;
}

.sub-tabs-active {
  display: flex;
  align-items: center;
}

.sub-tabs li > a {
  margin-right: 0.8rem;
}

.screen {
  margin: 0 26rem;
  position: relative;
  width: 58rem;
  height: 48rem;
}

.screen-reflection {
  background: linear-gradient(150deg, #fff, rgba(0, 0, 0, 0));
  opacity: 0.07;
  width: 53rem;
  height: 43rem;
  position: absolute;
  margin: -2rem 0 0 2.2rem;
  border-radius: 7rem;
  z-index: -2;
}

.cores-display {
  min-height: 28rem;
}

.core-display {
  display: none;
}

.core-display-active {
  display: block;
  margin-left: 10rem;
  max-width: 37.8rem;
}

.sub-tabs {
  margin-top: 1rem;
}

.sub-tabs > a {
  font-weight: lighter;
  margin-right: 1rem;
}

.sub-header-active-tab {
  opacity: 0.8;
}

.sub-header-inactive-tab-near {
  opacity: 0.5;
}

.sub-header-inactive-tab-far {
  opacity: 0.2;
}

.bottom-display {
  display: flex;
  justify-content: center;
}

.bottom-display p {
  font-family: "Monofonto", serif;
  font-size: 2rem;
  color: var(--pip-boy-primary-color);
}

.side-bottom-display,
.center-bottom-display {
  background-color: var(--pip-boy-secondary-color);
  width: 11rem;
}

.center-bottom-display {
  display: flex;
  align-items: center;
  padding: 0 1rem 0 1rem;
  width: 20rem;
}

.level-progress-bar {
  border: 0.1rem solid var(--pip-boy-primary-color);
  background-color: var(--pip-boy-background-color);
  width: 9rem;
  height: 1.2rem;
  margin-left: 1rem;
}

.level-progress-bar::before {
  content: "";
  display: block;
  border: 0.1rem solid var(--pip-boy-primary-color);
  background-color: var(--pip-boy-primary-color);
  width: 4rem;
  height: 1.1rem;
  max-height: 100%;
}

.hp-container {
  margin-right: 0.4rem;
  padding-left: 0.5rem;
}

.action-points-container {
  text-align: right;
  margin-left: 0.4rem;
  padding-right: 0.5rem;
}

.header-lines {
  position: relative;
  display: flex;
  flex-direction: row;
  top: -2.7rem;
  opacity: 0.8;
  z-index: -3;
  filter: grayscale(100%) brightness(80%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}

#header-line-before {
  position: absolute;
  left: -51.5rem;
}

#header-line-after {
  position: absolute;
  left: 5rem;
}

.menu-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.menu-attributes,
.menu-right-column {
  width: 50%;
}

.menu-attributes {
  margin: 0 0.5rem 0 0;
}

.menu-attribute-box {
  display: flex;
  justify-content: space-between;
  padding: 0 0.8rem 0 0.8rem;
}

.menu-attribute-box:hover {
  cursor: default;
}

div[class$=-attribute-box-active] {
  background-color: var(--pip-boy-primary-color);
}

div[class$=-attribute-box-active] > p {
  color: var(--pip-boy-secondary-color);
}

.menu-attribute,
.special-value {
  font-size: 2rem;
}

.menu-right-column {
  margin: 0 0 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 28rem;
}

.special-attribute-description.special-attribute-description-active,
.perk-attribute-description.perk-attribute-description-active,
.job-attribute-description.job-attribute-description-active,
.study-attribute-description.study-attribute-description-active,
.skill-attribute-description.skill-attribute-description-active,
.data-attribute-description.data-attribute-description-active {
  display: block;
}

.special-attribute-description.special-attribute-description-active,
.perk-attribute-description.perk-attribute-description-active {
  font-size: 1.5rem;
}

.job-attribute-description.job-attribute-description-active,
.study-attribute-description.study-attribute-description-active,
.skill-attribute-description.skill-attribute-description-active,
.data-attribute-description.data-attribute-description-active {
  font-size: 1.4rem;
}

.special-attribute-description,
.perk-attribute-description,
.job-attribute-description,
.study-attribute-description,
.skill-attribute-description,
.data-attribute-description {
  display: none;
}

.menu-attribute-image {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}

.special-attribute-image.special-attribute-image-active,
.perk-attribute-image.perk-attribute-image-active {
  display: block;
  max-height: 66%;
}

.menu-attribute-image {
  display: none;
}

/** RESPONSIVE ********************************************************************************************************/
@media screen and (max-width: 960px) {
  .special-attribute-image.special-attribute-image-active, .perk-attribute-image.perk-attribute-image-active {
    display: block;
    max-height: 80px;
  }
}
@media screen and (max-width: 690px) {
  .special-attribute-image.special-attribute-image-active, .perk-attribute-image.perk-attribute-image-active {
    display: block;
    max-height: 60px;
  }
}
.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37.8rem;
  margin-top: -2rem;
}

#vault-boy-walking {
  position: absolute;
  margin-left: 13.65rem;
  width: 10.5rem;
  margin-top: 1rem;
  filter: grayscale(100%) brightness(60%) sepia(100%) hue-rotate(50deg) saturate(1500%) contrast(0.99);
}

.info-icon-web,
.info-icon-engineering {
  margin-left: 1rem;
}

.info-icon {
  background-color: var(--pip-boy-secondary-color);
  margin-right: 0.4rem;
}

.info-icon > p {
  color: var(--pip-boy-primary-color);
}

.info-icon-large {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
}

.info-icon-thin {
  width: 2.4rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.info-icon-large > img {
  width: 4rem;
  height: 4rem;
}

.info-icon-thin > img {
  width: 2rem;
  height: 2rem;
}

.info-icon-thin > p {
  font-family: "Monofonto", serif;
  font-size: 1.6rem;
  text-align: center;
  width: 2rem;
  height: 2rem;
}

.identity-container > p {
  font-family: "Monofonto", serif;
  font-size: 1.4rem;
  color: var(--pip-boy-primary-color);
  text-align: center;
  width: 37.8rem;
  margin: 1rem;
}

.color-container {
  margin-top: 1rem;
}

.color-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.color-box-active {
  background-color: var(--pip-boy-primary-color);
}

.color-box-active > p {
  color: var(--pip-boy-secondary-color);
}

.color-box {
  margin: 1rem 1rem 0 0;
  padding: 0 0.8rem 0 0.8rem;
}

.color-box:hover {
  cursor: pointer;
}

.color-name {
  font-size: 2rem;
}

.map-container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 28rem;
}

#idf-map {
  top: -2rem;
  position: absolute;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
  max-width: 90%;
  z-index: -4;
}

/*# sourceMappingURL=main.css.map */
